{% extends "::base.html.twig" %}

{% block title %}www2012 program | Logged in{% endblock %}

{% block header %}
  {% include '::headerNav.html.twig' with { 'current': 'loggin' } %}
{% endblock %}

{% block content %}
  {{ parent() }}
  {% block fos_user_content %}
  <div id="main">
    <div class="topbar"></div>
    <div class="user_form">
      <form action="{{ path("fos_user_security_check") }}" method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

          <fieldset>
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
          </fieldset>

          <fieldset>
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" />
          </fieldset>

          <fieldset>
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
          </fieldset>

          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
          <a href="{{ path("fos_user_resetting_request") }}" title="I forget my password">I forget my password</a>
      </form>
    </div>
  </div>
  {% endblock fos_user_content %}
{% endblock %}
