{% extends "W4HCalendarBundle:Admin:base.html.twig" %}

{% block content %}

<h1>Location list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Building</th>
            <th>Level</th>
            <th>Classe_room_places</th>
            <th>Conference_room_places</th>
            <th>Standing_room_places</th>
            <th>Video_projector</th>
            <th>Sound</th>
            <th>Internet</th>
            <th>Other_devices</th>
            <th>Accessibility</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('location_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.building }}</td>
            <td>{{ entity.level }}</td>
            <td>{{ entity.classeroomplaces }}</td>
            <td>{{ entity.conferenceroomplaces }}</td>
            <td>{{ entity.standingroomplaces }}</td>
            <td>{{ entity.videoprojector }}</td>
            <td>{{ entity.sound }}</td>
            <td>{{ entity.internet }}</td>
            <td>{{ entity.otherdevices }}</td>
            <td>{{ entity.accessibility }}</td>
            <td>{{ entity.latitude }}</td>
            <td>{{ entity.longitude }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('location_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('location_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('location_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
