<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jscrollpane.css') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.mousewheel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/load.jscrollpane.js') }}"></script>

    </head>
    <body>

      <header>
        {% block header %}{% endblock %}
        <form action="{{ path('calendar_filter') }}" method="post">
          <section>
            <a href="">Person</a>
            <div class="content">
              <span class="arrow"></span>
              <fieldset>
                <input type="checkbox" name="person[]" value="1" />
                <label>Gabriel BONDAZ</label>
                <input type="checkbox" name="person[]" value="2" />
                <label>Pierre FERROLLIET</label>
              </fieldset>
            </div>
          </section>
          <section>
            <a href="">Role</a>
            <div class="content">
              <span class="arrow"></span>
              <fieldset>
                <input type="checkbox" name="role[]" value="1" />
                <label>Speaker</label>
                <input type="checkbox" name="role[]" value="2" />
                <label>Organizer</label>
                <input type="checkbox" name="role[]" value="3" />
                <label>Hotesse</label>
                <input type="checkbox" name="role[]" value="4" />
                <label>Drivers</label>
              </fieldset>
            </div>
          </section>
          <section>
            <a href="">Event</a>
            <div class="content">
              <span class="arrow"></span>
              <fieldset>
                <input type="checkbox" name="event[]" value="1" />
                <label>Event 1</label>
                <input type="checkbox" name="event[]" value="2" />
                <label>Event 2</label>
                <input type="checkbox" name="event[]" value="3" />
                <label>Event 3</label>
                <input type="checkbox" name="event[]" value="4" />
                <label>Event 4</label>
              </fieldset>
            </div>
          </section>
          <section>
            <a href="">Location</a>
            <div class="content">
              <span class="arrow"></span>
              <fieldset>
                <input type="checkbox" name="location[]" value="1" />
                <label>Salle 1</label>
                <input type="checkbox" name="location[]" value="2" />
                <label>Salle 2</label>
                <input type="checkbox" name="location[]" value="3" />
                <label>Salle 3</label>
                <input type="checkbox" name="location[]" value="4" />
                <label>Salle 4</label>
              </fieldset>
            </div>
          </section>
          <section>
            <a href="">Activity Type</a>
            <div class="content">
              <span class="arrow"></span>
              <fieldset>
                <input type="checkbox" name="activity[]" value="1" />
                <label>Activity 1</label>
                <input type="checkbox" name="activity[]" value="2" />
                <label>Activity 2</label>
                <input type="checkbox" name="activity[]" value="3" />
                <label>Activity 3</label>
                <input type="checkbox" name="activity[]" value="4" />
                <label>Activity 4</label>
              </fieldset>
            </div>
          </section>
          <div class="actions">
            <input type="submit" value="Apply" />
            <a href="#">Reset</a>
          </div>
        </form>
      </header>

      <div id="main">
        {% block content %}{% endblock %}
      </div>

      {% block javascripts %}{% endblock %}
    </body>
</html>
