<nav>
  <ul>
    <li class="{{ current == 'calendar' ? 'current' : '' }}"><a href="{{ path('calendar') }}">Per day view</a></li>
    <li class="{{ current == 'event_list' ? 'current' : '' }}"><a href="{{ path('event_list') }}">Event list view</a></li>
    <li class="{{ current == 'calendar_user' ? 'current' : '' }}"><a href="{{ path('calendar_user') }}">My view</a></li>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if is_granted('ROLE_ADMIN') %}
          <li class="{{ current == 'calendar_admin' ? 'current' : '' }}">
            <a href="{{ path('calendar_admin') }}">Admin view</a>
          </li>
        {% endif %}
        <li class="user">
          <a href="{{ path('fos_user_security_logout') }}">(Logout)</a>
        </li>
        <li class="user {{ current == 'change_password' ? 'current' : '' }}">
          <a href="{{ path('fos_user_change_password') }}">Change my password</a>
        </li>
        <li class="user {{ current == 'profile_edit' ? 'current' : '' }}">
          <a href="{{ path('fos_user_profile_edit') }}">Edit my profile</a>
        </li>
        <li class="user {{ current == 'profile_show' ? 'current' : '' }}">
          <a href="{{ path('fos_user_profile_show') }}">Logged as {{ app.user.username }}</a>
        </li>
    {% endif %}
  </ul>
</nav>
