<nav>
  <ul>
    <li class="{{ current == 'calendar' ? 'current' : '' }}"><a href="{{ path('calendar') }}">Per day view</a></li>
    <li class="{{ current == 'event_list' ? 'current' : '' }}"><a href="{{ path('event_list') }}">Event list view</a></li>
    <li class="{{ current == 'calendar_user' ? 'current' : '' }}"><a href="{{ path('calendar_user') }}">My view</a></li>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="user">
          <a href="{{ path('fos_user_security_logout') }}">(Logout)</a>
        </li>
        <li class="user">Logged as {{ app.user.username }}</a></li>
        {% if is_granted('ROLE_ADMIN') %}
          <li>
            <a href="{{ path('calendar_admin') }}">Admin view</a>
          </li>
        {% endif %}
    {% endif %}
  </ul>
</nav>
