{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  {% render "W4HCalendarBundle:default:renderCSS" with {'step': step} %}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/draggable.js') }}"></script>
{% endblock %}

{% block header %}
  {% form_theme form 'W4HCalendarBundle:Form:fields.html.twig' %}
  <form class="accordion" action="{{ path('calendar_filter', { 'year': day.year, 'month': day.month, 'day': day.day }) }}" method="post">
    {{ form_widget(form) }}
    <div class="actions">
      <input type="submit" value="Apply" />
      <a href="{{ path('calendar') }}">Reset</a>
    </div>
  </form>
{% endblock %}

{% block content %}
<div class="topbar">
  <div class="date">
    <h1>{{ day.year}}-{{ day.month}}-{{ day.day}}</h1>
    <nav>
      <a class="previous" href="{{ path('calendar_show', { 'year': day.year, 'month': day.month, 'day': day.day-1 }) }}" title="previous day">
        Previous day
      </a>
      <a class="next" href="{{ path('calendar_show', { 'year': day.year, 'month': day.month, 'day': day.day+1 }) }}" title="next day">
        Next day
      </a>
    </nav>
  </div>
</div>

<div id="calendar">

  <div class="column times">
    <div class="header">
      <label>hh-mm</label>
    </div>
    <ul>
      {% for key, schedule in schedules %}
        <li class="unit{% if schedule.is_hour %} hour{% endif %}"><div>{{ key }}</div></li>
      {% endfor %}
    </ul>
  </div>

  <div class="scrollzone">
    <div class="columns">
      {% for location in calendar %}
      <div class="column room">
        <div class="header">
          <label>{{ location.object.name }}</label>
          <div class="data">
            <div class="location">
              <strong>Location:</strong>
              <ul>
                <li class="building" title="building">{{ location.object.building }}</li>
                <li class="level" title="level">{{ location.object.level }}</li>
                <li class="accessibility" title="accesibility">{{ location.object.accessibility }}</li>
                <li class="map" title="map">map {{ location.object.latitude }} {{ location.object.longitude }}</li>
              </ul>
            </div>
            <div class="places">
              <strong>Places:</strong>
              <ul>
                <li class="class_room_places" title="class room">{{ location.object.classRoomPlaces }}</li>
                <li class="conference_room_places" title="conference room">{{ location.object.conferenceRoomPlaces }}</li>
                <li class="standing_room_places" title="standing room">{{ location.object.standingRoomPlaces }}</li>
              </ul>
            </div>
            <div class="equipement">
              <strong>Equipements:</strong>
              <ul>
                {% if location.object.videoProjector %}<li class="video_projector" title="Video projecteur">Vidéo Projecteur</li>{% endif %}
                {% if location.object.sound %}<li class="sound" title="Sound">Sound</li>{% endif %}
                {% if location.object.internet %}<li class="internet" title="Internet">internet</li>{% endif %}
                {% if location.object.otherDevices %}<li class="other_devices" title="other devices">{{ location.object.otherDevices }}</li>{% endif %}
              </ul>
            </div>
          </div>
        </div>
        <ul>
          {% for key,schedule in location.schedules %}
            <li class="unit{% if schedule.is_hour %} hour{% endif %}">
              {% for task in schedule.tasks %}
                <div id="task_{{ task.id }}" class="task unitx{{ task.countUnit(step) }}{{ task.getClasses() }}" draggable="true">
                  <div class="data">
                    <header>
                      <label>{{ task.activity.name }}</label>
                      [{{ task.startsAt|date("H:i") }} > {{ task.endsAt|date("H:i") }}]
                    </header>
                    <ul>
                      <li>{{ task.event.name }}</li>
                      <li>{{ task.activity.description }}</li>
                    </ul>
                  </div>
                </div>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}

