{% extends "::base.html.twig" %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/draggable.js') }}"></script>
{% endblock %}

{% block header %}
  {% form_theme form 'W4HCalendarBundle:Form:fields.html.twig' %}
  <form action="{{ path('calendar_filter', { 'year': day.year, 'month': day.month, 'day': day.day }) }}" method="post">
    {{ form_widget(form) }}
    <div class="actions">
      <input type="submit" value="Apply" />
      <a href="{{ path('calendar') }}">Reset</a>
    </div>
  </form>
{% endblock %}

{% block content %}
<h1>Date: {{ day.year}}-{{ day.month}}-{{ day.day}}</h1>

<div id="calendar">

  <div class="column times">
    <label>--:--</label>
    <ul>
      {% for key, schedule in schedules %}
        <li class="unit{% if schedule.is_hour %} hour{% endif %}"><div>{{ key }}</div></li>
      {% endfor %}
    </ul>
  </div>

  <div class="scrollzone">
    <div class="columns">
      {% for location in calendar %}
      <div class="column room">
        <label>{{ location.object.name }}</label>
        <ul>
          {% for key,schedule in location.schedules %}
            <li class="unit{% if schedule.is_hour %} hour{% endif %}">
              {% for task in schedule.tasks %}
                <div id="task_{{ task.id }}" class="task unitx{{ task.countUnit(step) }}" draggable="true">{{ task.activity.name }}</div>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}

