{% extends "W4HCalendarBundle:Default:baseFilter.html.twig" %}

{% block title %}www2012 program | Per day view{% endblock %}


{% block stylesheets %}
  {{ parent() }}
  {% render "W4HCalendarBundle:Default:renderCSS" with {'step': step, 'columns': calendar|length } %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/draggable.js') }}"></script>
{% endblock %}

{% block topbar %}
  <div class="date">
    <h1>{{ day|date("F d, Y") }}</h1>
  </div>
{% endblock %}

{% block calendar %}
  <div class="column times">
    <div class="header">
      <label>hh-mm</label>
    </div>
    <ul>
      {% for key, schedule in schedules %}
        <li class="unit{% if schedule.is_hour %} hour{% endif %}"><div>{{ key }}</div></li>
      {% endfor %}
    </ul>
  </div>

  <div class="scrollzone">
    <div class="columns">
      {% for location in calendar %}
      <div class="column room">
        <div class="header">
          <label>{{ location.object.name }}</label>
          <div class="data">
            <div class="location">
              <strong>Location:</strong>
              <ul>
                <li class="building" title="building"><span class="symbol"></span>{{ location.object.building }}</li>
                <li class="level" title="level"><span class="symbol"></span>{{ location.object.level }}</li>
                <li class="accessibility" title="accesibility"><span class="symbol"></span>{{ location.object.accessibility }}</li>
                <li class="map" title="map"><span class="symbol"></span>map {{ location.object.latitude }} {{ location.object.longitude }}</li>
              </ul>
            </div>
            <div class="place">
              <strong>Places:</strong>
              <ul>
                <li class="class_room_places" title="class room"><span class="symbol"></span>{{ location.object.classRoomPlaces }}</li>
                <li class="conference_room_places" title="conference room"><span class="symbol"></span>{{ location.object.conferenceRoomPlaces }}</li>
                <li class="standing_room_places" title="standing room"><span class="symbol"></span>{{ location.object.standingRoomPlaces }}</li>
              </ul>
            </div>
            <div class="equipment">
              <strong>Equipments:</strong>
              <ul>
                {% if location.object.videoProjector %}<li class="video_projector" title="Video projector"><span class="symbol"></span>Video Projector</li>{% endif %}
                {% if location.object.sound %}<li class="sound" title="Sound"><span class="symbol"></span>Sound</li>{% endif %}
                {% if location.object.internet %}<li class="internet" title="Internet"><span class="symbol"></span>internet</li>{% endif %}
                {% if location.object.otherDevices %}<li class="other_devices" title="other devices"><span class="symbol"></span>{{ location.object.otherDevices }}</li>{% endif %}
              </ul>
            </div>
          </div>
        </div>
        <ul>
          {% for key,schedule in location.schedules %}
            <li class="unit{% if schedule.is_hour %} hour{% endif %}" id="{{ location.object.id }}#{{ key }}">
              {% for task in schedule.tasks %}
                <div id="task_{{ task.id }}" class="task unitx{{ task.countUnit(step) }} {{ task.getClasses() }}"{% if is_granted('ROLE_ADMIN') %} draggable="true"{% endif %}>
                  <p>{{ task.activity.name }}</p>
                  {% if is_granted('ROLE_ADMIN') %} 
                    <a class="move" href="{{ path('calendar_move_task', { 'task_id': task.id }) }}" title="Move the task">Move the task</a>
                  {% endif %}
                  <div class="data">
                    {% include 'W4HCalendarBundle:Default:taskData.html.twig' with { 'task': task } %}
                  </div>
                </div>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
