{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  {% render "W4HCalendarBundle:default:renderCSS" with {'step': step} %}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/draggable.js') }}"></script>
{% endblock %}

{% block header %}
  {% form_theme form 'W4HCalendarBundle:Form:fields.html.twig' %}
  <form class="accordion" action="{{ path('calendar_filter', { 'year': day.year, 'month': day.month, 'day': day.day }) }}" method="post">
    {{ form_widget(form) }}
    <div class="actions">
      <input type="submit" value="Apply" />
      <a href="{{ path('calendar') }}">Reset</a>
    </div>
  </form>
{% endblock %}

{% block content %}
<div class="topbar">
  <div class="date">
    <h1>{{ day.year}}-{{ day.month}}-{{ day.day}}</h1>
    <nav>
      <a class="previous" href="{{ path('calendar_show', { 'year': day.year, 'month': day.month, 'day': day.day-1 }) }}" title="previous day">
        Previous day
      </a>
      <a class="next" href="{{ path('calendar_show', { 'year': day.year, 'month': day.month, 'day': day.day+1 }) }}" title="next day">
        Next day
      </a>
    </nav>
  </div>
</div>

<div id="calendar">

  <div class="column times">
    <label>hh-mm</label>
    <ul>
      {% for key, schedule in schedules %}
        <li class="unit{% if schedule.is_hour %} hour{% endif %}"><div>{{ key }}</div></li>
      {% endfor %}
    </ul>
  </div>

  <div class="scrollzone">
    <div class="columns">
      {% for location in calendar %}
      <div class="column room">
        <label>{{ location.object.name }}</label>
        <ul>
          {% for key,schedule in location.schedules %}
            <li class="unit{% if schedule.is_hour %} hour{% endif %}">
              {% for task in schedule.tasks %}
                <div id="task_{{ task.id }}" class="task unitx{{ task.countUnit(step) }}" draggable="true">{{ task.activity.name }}</div>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}

