{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/calendar.css') }}" />
  {% render "W4HCalendarBundle:default:renderCSS" with {'step': step} %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/draggable.js') }}"></script>
  <script type="text/javascript">
    // Prevent link action
    $(".accordion section a").click(function(event){
      event.preventDefault();
      if($(this).parent('section').hasClass('selected'))
        $(this).parent('section').removeClass('selected');
      else
        $(this).parent('section').addClass('selected');
    });
  </script>
{% endblock %}

{% block header %}
  {% form_theme form 'W4HCalendarBundle:Form:fields.html.twig' %}
  <form class="accordion" action="{{ path('calendar_filter', { 'year': day.year, 'month': day.month, 'day': day.day }) }}" method="post">
    {{ form_widget(form) }}
    <div class="actions">
      <input type="submit" value="Apply" />
      <a href="{{ path('calendar') }}">Reset</a>
    </div>
  </form>
{% endblock %}

{% block content %}
<div class="topbar">
  <div class="date">
    <h1>{{ day.year}}-{{ day.month}}-{{ day.day}}</h1>
    <nav>
      <a class="previous" href="{{ path('calendar_show', { 'year': day.year, 'month': day.month, 'day': day.day-1 }) }}" title="previous day">
        Previous day
      </a>
      <a class="next" href="{{ path('calendar_show', { 'year': day.year, 'month': day.month, 'day': day.day+1 }) }}" title="next day">
        Next day
      </a>
    </nav>
  </div>
</div>

<div id="calendar">

  <div class="column times">
    <div class="header">
      <label>hh-mm</label>
    </div>
    <ul>
      {% for key, schedule in schedules %}
        <li class="unit{% if schedule.is_hour %} hour{% endif %}"><div>{{ key }}</div></li>
      {% endfor %}
    </ul>
  </div>

  <div class="scrollzone">
    <div class="columns">
      {% for location in calendar %}
      <div class="column room">
        <div class="header">
          <label>{{ location.object.name }}</label>
          <div class="data">
            <div class="location">
              <strong>Location:</strong>
              <ul>
                <li class="building" title="building"><span class="symbol"></span>{{ location.object.building }}</li>
                <li class="level" title="level"><span class="symbol"></span>{{ location.object.level }}</li>
                <li class="accessibility" title="accesibility"><span class="symbol"></span>{{ location.object.accessibility }}</li>
                <li class="map" title="map"><span class="symbol"></span>map {{ location.object.latitude }} {{ location.object.longitude }}</li>
              </ul>
            </div>
            <div class="place">
              <strong>Places:</strong>
              <ul>
                <li class="class_room_places" title="class room"><span class="symbol"></span>{{ location.object.classRoomPlaces }}</li>
                <li class="conference_room_places" title="conference room"><span class="symbol"></span>{{ location.object.conferenceRoomPlaces }}</li>
                <li class="standing_room_places" title="standing room"><span class="symbol"></span>{{ location.object.standingRoomPlaces }}</li>
              </ul>
            </div>
            <div class="equipment">
              <strong>Equipments:</strong>
              <ul>
                {% if location.object.videoProjector %}<li class="video_projector" title="Video projector"><span class="symbol"></span>Video Projector</li>{% endif %}
                {% if location.object.sound %}<li class="sound" title="Sound"><span class="symbol"></span>Sound</li>{% endif %}
                {% if location.object.internet %}<li class="internet" title="Internet"><span class="symbol"></span>internet</li>{% endif %}
                {% if location.object.otherDevices %}<li class="other_devices" title="other devices"><span class="symbol"></span>{{ location.object.otherDevices }}</li>{% endif %}
              </ul>
            </div>
          </div>
        </div>
        <ul>
          {% for key,schedule in location.schedules %}
            <li class="unit{% if schedule.is_hour %} hour{% endif %}">
              {% for task in schedule.tasks %}
                <div id="task_{{ task.id }}" class="task unitx{{ task.countUnit(step) }} {{ task.getClasses() }}" draggable="true">
                  <div class="data" draggable="false">
                    <header class="{{ task.getClasses() }}">
                      <div class="symbol"></div>
                      <label>
                        {{ task.activity.name }}
                      </label>
                      <p class="starts_at">{{ task.startsAt|date("H:i") }}</p>
                      <p class="ends_at">{{ task.endsAt|date("H:i") }}</p>
                    </header>
                    <div class="description">
                      <strong>Description:</strong>
                      <p>{{ task.activity.description }}</p>
                    </div>
                    <div class="owners">
                      <strong>With:</strong>

                      {% for owner in task.owners %}
                        <ul>
                          <li class="{{ owner.role |slugify }}" title="{{ owner.role }}">
                            <span class="symbol"></span>
                            {{ owner.person }}
                          </li>
                          <li class="country flag-{{ owner.person.countryIsoCode }}" title="{{ owner.person.countryIsoCode }}">
                            <span class="symbol"></span>
                            {{ owner.person.countryIsoCode }}
                          </li>
                        </ul>
                      {% endfor %}

                    </div>
                    <div class="context">
                      <strong>Context:</strong>
                      <ul>
                        <li class="context {{ task.event.name |slugify }}">
                          <span class="symbol"></span>
                          <a href="{{ task.event.websiteUrl }}" target="_blank" title="{{ task.event.name }}">{{ task.event.name }}</a>
                        </li>
                        <li class="activity_type {{ task.activity.activityType.name |slugify }}" title="{{ task.activity.activityType.name }}">
                          <span class="symbol"></span>
                          {{ task.activity.activityType.name }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}

