{% extends "W4HCalendarBundle:Default:baseFilter.html.twig" %}

{% block title %}www2012 program | Event list view{% endblock %}

{% block topbar %}
  <div class="date">
    <h1>From {{ from|date("F d, Y") }} to {{ to|date("F d, Y") }}</h1>
  </div>
{% endblock %}

{% block calendar %}
  <div class="content">
    {% for day in event_tasks %}
      <h2>{{ day.display }}</h2>
      <ul>
        {% for hour in day.hours %}
          <li class="hour">
            <p class="time">{{ hour.display }}</p>
            <ul>
              {% for task in hour.tasks %}
                <li class="{{ task.getClasses() }}">
                  {% if 'symbols' not in hidden_data %}
                  <div class="symbol"></div>
                  {% endif %}
                  {% if 'activity_name' not in hidden_data %}
                  <p class="name">{{ task.activity.name }}</p>
                  {% endif %}
                  {% if 'location' not in hidden_data %}
                  <p class="location">{{ task.location.name }} ({{ task.location.building }} # {{ task.location.level }})</p>
                  {% endif %}
                  {% if 'event' not in hidden_data %}
                  <p class="event">{{ task.event.name }}</p>
                  {% endif %}
                  {% if 'activity_type' not in hidden_data %}
                  <p class="activity_type">{{ task.activity.activityType.name }}</p>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock %}
