{% extends "W4HCalendarBundle:Default:baseFilter.html.twig" %}

{% block title %}www2012 program | mailing view{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% render "W4HCalendarBundle:CSS:renderSymbol" %}
{% endblock %}

{% block topbar %}
  <div class="date">
    <h1>Mailing list</h1>
  </div>
{% endblock %}

{% block calendar %}
  <div class="content">
    <form class="mailing" action="{{ path('mailing_send') }}" method="post" {{ form_enctype(mailing_form) }}>
        {{ form_errors(form) }}

        <div class="list">
          {{ form_row(mailing_form.to) }}
        </div>

        <div class="text">
          {{ form_row(mailing_form.subject) }}
          {{ form_row(mailing_form.message) }}
        </div>

        {{ form_rest(form) }}
      <input type="submit" />
    </form>
  </div>
{% endblock %}

