{% extends "W4HCalendarBundle:Admin:base_nav.html.twig" %}

{% block content %}

<h1>Task list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>#</th>
            <th>Starts_at</th>
            <th>Ends_at</th>
            <th>Activity</th>
            <th>Role</th>
            <th>Event</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('task_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.startsat %}{{ entity.startsat|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.endsat %}{{ entity.endsat|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.activity }}</td>
            <td>{{ entity.role }}</td>
            <td>{{ entity.event }}</td>
            <td>{{ entity.location }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('task_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('task_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('task_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
