{% extends "W4HCalendarBundle:Admin:base.html.twig" %}

{% set current = 'activity' %}

{% block content %}

<h1>Activity list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('activity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.activityType }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('activity_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('activity_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('activity_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
