{% extends "::base.html.twig" %}

{% block title %}www2012 program | Logged in{% endblock %}

{% block header %}
  {% include '::headerNav.html.twig' with { 'current': 'profile_edit' } %}
{% endblock %}

{% block content %}
  {{ parent() }}
  {% block fos_user_content %}
  <div id="main">
    <div class="topbar">Edit my profile</div>
    <div class="user_form">
      <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

        {{ form_errors(form) }}

        <div id="fos_user_profile_form">

          {{ form_row(form.user.username) }}
          {{ form_row(form.user.email) }}
          {{ form_row(form.user.first_name) }}
          {{ form_row(form.user.last_name) }}
          {{ form_row(form.user.organisation) }}
          {{ form_row(form.user.service) }}
          {{ form_row(form.user.other_mail) }}
          {{ form_row(form.user.mobile_phone) }}
          {{ form_row(form.user.website_url) }}
          {{ form_row(form.user.country_iso_code) }}
          {{ form_row(form.user.freeset) }}
          {{ form_row(form.user.socials_account) }}
          {{ form_row(form.user.has_private_data) }}

          <hr />

          <label class="required" for="fos_user_profile_form_current">Password</label>
          {{ form_errors(form.current) }}
          {{ form_widget(form.current) }}


          {{ form_rest(form) }}

        </div>

        <input type="submit" value="Save" />
      </form>
    </div>
  </div>
  {% endblock fos_user_content %}
{% endblock %}
